// colors
$gray-deep: #333;
$white: #fff;
$deep-purple: #5b247a;
$blue: #1bcedf;
$light-blue: #17ead9;
$dark-blue: #6078ea;
$orange: #fce38a;
$light-red: #f38181;
$red: #f54ea2;
$deep-orange: #ff7676;

// app colors
$text-default: $gray-deep;
$text-white: $white;

$primary: $blue;
$secondary: $red;

// gradients
$dark-purple-blue: linear-gradient(120deg, $deep-purple, $blue);
$light-blue-dark-blue: linear-gradient(120deg, $light-blue, $dark-blue);
$orange-light-red: linear-gradient(120deg, $orange, $light-red);
$red-deep-orange: linear-gradient(120deg, $red, $deep-orange);
